dlib==19.24.1
easydict==1.9
matplotlib==3.3.4
mxnet
numpy
opencv_python==4.6.0.66
Pillow==9.5.0
retinaface==1.1.1
scikit_learn==1.2.2
scipy
tensorboardX==2.6
torch==1.10.2
torchvision==0.11.3
tqdm==4.35.0
